<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VoronoiCAD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VoronoiCAD.Properties.Settings>
            <setting name="xlsGeoFilePuth" serializeAs="String">
                <value />
            </setting>
            <setting name="txtLiraNewPileFilePuth" serializeAs="String">
                <value />
            </setting>
            <setting name="xlsRzFilePuth" serializeAs="String">
                <value />
            </setting>
            <setting name="txtLiraOrigFilePuth" serializeAs="String">
                <value />
            </setting>
            <setting name="txtLiraResultFilePuth" serializeAs="String">
                <value />
            </setting>
        </VoronoiCAD.Properties.Settings>
    </userSettings>
</configuration>